body{
    background-color: rgb(188, 176, 234);

}
img{
    height: 200px;
    width: 200px;
    border: inset;
    box-shadow: 100px;
    cursor: pointer;
}
.images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
h1{
    display: grid;
    justify-content: center;
    align-items: center;
}
*{
    font-family: 'Courier New', Courier, monospace;
}