<!doctype html>
<html>
    <head>
        <title>Image Scrapper</title>
        <link href="/static/style1.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>
            Image Scapper !
        </h1>
        <div class='scrapper'>
        <form action='/' method='POST'>
            <label for="image_name">Image name</label>
            <input type='text' placeholder='image_name' name='image_name'/>
        <button type='submit'>submit</button>
        </form>
    </div>
    </body>
</html>